.logo{
width:6em;
transition: transform 0.3s ease; 
padding: 10px;
cursor: pointer;
}

.logo:hover{
    transform: scale(1.2); 
}

@media (max-width: 480px) { 
    .logo {
        width: 4em; /* Reduce el tamaño en móviles */
        padding: 5px; /* Ajusta el padding si es necesario */
    }
}
