@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.buttonNav{
    background: none;
    border: none;
    color: white;
    transition: transform 0.3s ease; 
    margin: 10px;
    font-family: "Pacifico", serif;
    font-weight:100;
    cursor: pointer;
    font-size: 24px;
}

.buttonNav:hover{
    text-decoration: none;
    transform: scale(1.2);
    
}

@media (max-width: 480px) { 
    .buttonNav {
        font-size: 12px; /* Reduce el tamaño del texto */
        margin: 4px; /* Ajusta el margen */
        font-weight:80;
    }
}
