@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.texto-encima {
    font-size: 40px;
    text-align: center;
    margin: 20px;
    background: linear-gradient(45deg, rgba(245,46,49,1) 0%, rgba(251,127,173,1) 100%);
    background-size: 200% 200%; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease; 
    position: absolute;
    top: 40%; 
    left: 5%; 
    font-family: "Pacifico", serif;
    padding: 5px;
}

.texto-encima:hover {
    background-position: 100% 0; 
}

.hero-container {
    position: relative;
    display: inline-block; 
}

.imagenHero {
    width: 100%; 
    height: auto;
    display: block;
}


h1 {
    font-size: 25px;
    text-align: center;
    margin: 20px;
    background: linear-gradient(45deg, rgba(245,46,49,1) 0%, rgba(251,127,173,1) 100%);
    background-size: 200% 200%; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    transition: background-position 0.5s ease; 
}

h1:hover {
    background-position: 100% 0; 
}


@media (max-width: 900px) { 
    .texto-encima {
        font-size: 25px; 
        top: 30%; 
        left: 2%; 
        padding: 2px;
    }


}

@media (max-width: 700px) { 
    .texto-encima {
        font-size: 16px; 
        top: 30%; 
        left: 2%; 
        padding: 2px;
    }

}


@media (max-width: 500px) { 
    .texto-encima {
        font-size: 13px; 
        top: 30%; 
        left: 2%; 
        padding: 2px;
    }

    h1 {
        font-size: 18px; 
        margin: 10px;
    }
}
